<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adb" />
  <package id="aria2" />
  <package id="autohotkey.portable" />
  <package id="bandizip" />
  <package id="base64" />
  <package id="biome" />
  <package id="cherrytree" />
  <package id="choco-cleaner" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chromedriver" />
  <package id="colortool" />
  <package id="curl" />
  <package id="dismplusplus" />
  <package id="dos2unix" />
  <package id="dotnet-9.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="DotNet3.5" />
  <package id="dotnetfx" />
  <package id="etcd" />
  <package id="Everything" />
  <package id="exiftool" />
  <package id="fd" />
  <package id="feroxbuster" />
  <package id="ffmpeg" />
  <package id="fiddler" />
  <package id="firefoxesr" />
  <package id="gawk" />
  <package id="git" />
  <package id="git-lfs.install" />
  <package id="git.install" />
  <package id="golang" />
  <package id="googlechrome" />
  <package id="grep" />
  <package id="innounp" />
  <package id="jq" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="kubernetes-cli" />
  <package id="ldapadmin" />
  <package id="less" />
  <package id="liberica11jdkfull" />
  <package id="liberica17jdkfull" />
  <package id="liberica8jdk" />
  <package id="libericajdkfull" />
  <package id="make" />
  <package id="maven" />
  <package id="microsoft-edge" />
  <package id="microsoft-windows-terminal" />
  <package id="mysql-cli" />
  <package id="nircmd" />
  <package id="nodejs-lts" />
  <package id="nssm" />
  <package id="nutstore" />
  <package id="obsidian" />
  <package id="office-tool" />
  <package id="onefetch" />
  <package id="openhashtab" />
  <package id="OpenSSL.Light" />
  <package id="osv-scanner" />
  <package id="pandoc" />
  <package id="peazip" />
  <package id="peazip.install" />
  <package id="picgo" />
  <package id="picview" />
  <package id="powertoys" />
  <package id="python" />
  <package id="python3" />
  <package id="python313" />
  <package id="remove-empty-directories" />
  <package id="renamer" />
  <package id="renamer.install" />
  <package id="rsync" />
  <package id="ruby" />
  <package id="ruby.install" />
  <package id="rufus" />
  <package id="rust" />
  <package id="rust-ms" />
  <package id="rustup.install" />
  <package id="s3browser" />
  <package id="screentogif" />
  <package id="screentogif.portable" />
  <package id="sed" />
  <package id="sharex" />
  <package id="shellcheck" />
  <package id="snipaste" />
  <package id="sourcegit" />
  <package id="spacesniffer" />
  <package id="sqlite-studio.install" />
  <package id="sqlitestudio" />
  <package id="ssh-copy-id" />
  <package id="sublimetext4" />
  <package id="Sudo" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="TablePlus" />
  <package id="tinytex" />
  <package id="traffic-monitor" />
  <package id="vcredist-all" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2012" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="veracrypt" />
  <package id="vim" />
  <package id="visualstudio-installer" />
  <package id="visualstudio2017buildtools" />
  <package id="visualstudio2019-workload-vctools" />
  <package id="visualstudio2019buildtools" />
  <package id="visualstudio2022buildtools" />
  <package id="vnc-viewer" />
  <package id="vscode.install" />
  <package id="vscodium" />
  <package id="vscodium.install" />
  <package id="weasel" />
  <package id="webview2-runtime" />
  <package id="wecom" />
  <package id="Wget" />
  <package id="which" />
  <package id="windows-sdk-10.1" />
  <package id="wingetui" />
  <package id="wireshark" />
  <package id="xml-notepad" />
  <package id="yara" />
  <package id="yarn" />
  <package id="yq" />
  <package id="zotero" />
</packages>
